extends layout

block content

  .container
    .row.center-block
      h2 #{item.name}

      if 'image' === item.type
        .item
          .item-inner.item-detail
            img(src='#{item.url}')

      if qrImage
        img.qrcode(src='#{qrImage}', width='165', height='165', alt='QR Code')
        p.small.center Drag and save this image to share this release

      .download
        .btn-group
          if 'ipa' === item.type
            a.btn.btn-primary.btn-lg(href='#{item.installUrl}') Install IPA
          if 'apk' === item.type
            a.btn.btn-primary.btn-lg(href='#{item.downloadUrl}') Install APK
          a.btn.btn-primary.btn-lg(href='#{item.downloadUrl}', title="Download #{item.originalName}") #{item.buttonText}

      .stats-details.panel.panel-body
        .interests.col-xs-5.col-lg-2
          span #{item.downloaded} reps
        .added.col-xs-7.col-lg-2.pull-right
          span.pull-right Added on #{item.added}