extends layout

block content

  .container
    h1
      a.head-logo(href='/') Clipboard
      span.small  #{version}

      .pages
        if page > 0
          a.page.prev-page(href='/page/#{page}', title='Page #{page}')
            span.glyphicon.glyphicon-chevron-left
        if more
          a.page.next-page(href='/page/#{page + 2}', title='Page #{page + 2}')
            span.glyphicon.glyphicon-chevron-right
    .row
      form.search-form.form-inline.hide
        .form-group
          input.form-control(type="text", placeholder="type to search")

    .row
      .col-lg-3.col-xs-12.col-md-4.col-sm-6.item-row
        .item.add-dialog
          form.upload-form(role='form', method='post', action='/upload', enctype='multipart/form-data')
            .form-group
              button.btn.btn-default.btn-block.btn-select(type='button') Select a file

            .form-group
              label(for='name')
                span Name
                span.color-9a
                  small
                    em  (optional)
              input.form-control(type='text', name='name', id='name', placeholder='clipboard')

            .form-group
              label(for='bundleId')
                span Bundle Identifier
                span.color-9a
                  small
                    em  (optional)
              input.form-control(type='text', name='bundleId', id='bundleId', placeholder='io.leftshift.clipboard')

            button.btn.btn-primary.btn-submit.center-block(type='submit', disabled='disabled') Upload
            input(type='file', class='input-file', name='content')
      +items(items)

mixin items(items)
  - each item in items
    .col-lg-3.col-xs-12.col-md-4.col-sm-6.item-row
      +eachitem(item)

mixin eachitem(item)
  .item.js-item(data-id='#{item._id}')
    .item-overlay.hide
    span.cog.js-remove.hide
      span.cog-inner.remove
        span.glyphicon.glyphicon-remove-circle.remove-circle
    a.link(href='#{item.detailUrl}')
      .item-inner
        if item.type === 'image'
          .fixed-image(style="background-image: url('#{item.imageurl}')")
        else
          .unknown
            .file-block
              div #{item.type || "file"}
    .title-block
      span.title
        a.item-link.js-item-link(title='#{item.originalName}', href='#{item.url}') #{item.name}
        form.edit-name-form.hide(action='v1/items/#{item._id}', method='POST', role='form')
          input.js-edit-name.edit-name(type="text", value='#{item.name}')
      .btn-group.pull-right
        button.js-edit-button.btn.btn-default.btn-xs.hide(type='button', data-toggle='tooltip', data-placement='top', title="Edit name")
          span.glyphicon.glyphicon-pencil
        //- button.js-copy-link.btn.btn-default.btn-xs(type='button', data-toggle='tooltip', data-placement='top', title="Copy link", data-clipboard-text="Copy this")
        //-   span.glyphicon.glyphicon-link
      div
        span.small.timeago-text #{item.timeago}
        //- span.cog
        //-   span.cog-inner
        //-     span.glyphicon.glyphicon-cog.js-cog